/* styles.css */

.index, .resume, .courses {
    font-family: Arial, sans-serif;
    background-color: darkolivegreen; /* Dark green background color */
    color: wheat;
    margin: 0;
    padding: 0;
}

.index header, .resume header, .courses header {
    background-color: #000;
    padding: 10px 0;
}

.index nav ul, .resume nav ul, .courses nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.index nav ul li, .resume nav ul li, .courses nav ul li{
    display: inline;
    margin: 0 15px;
}

.index nav ul li a, .resume nav ul li a, .courses nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.index .profile {
    text-align: center;
    padding: 20px;
}

.index .profile-picture {
    border-radius: 50%;
    width: 160px;
    height: 210px;
}

.index .about, .details {
    padding: 20px;
    text-align: center;
}

.index .no-bullets {
    list-style-type: none;
    padding: 0;
}

.index button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.index button:hover {
    background-color: #104E8B;
}

.index button a {
    color: white;
    text-decoration: none;
}

.index .details {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.index .details div {
    flex: 1;
    margin: 0 10px;
}

.index .details h3 {
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

.index .social-icons a {
    color: #000; /* Change the color of the icons */
    margin-right: 10px; /* Add some space to the right of the icons */
}

.index .social-icons i {
    font-size: 24px; /* Change the size of the icons */
}

.courses main {
    padding: 20px;
}

.courses #search-form {
    margin-bottom: 20px;
}

.courses #search-input {
    padding: 5px;
    border: 2px solid silver;
    width: auto;
}

.courses #filter-level, #sort-asc, #sort-desc {
    padding: 10px;
    border: none;
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
}

.courses #filter-level:hover, #sort-asc:hover, #sort-desc:hover {
    background-color: #104E8B;
}

.courses #courses {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.courses section .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.courses section .flex-item {
    width: 20%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.courses section .flex-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Add social icon styles here */
